body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
h1 {
  font-family: 'Avenir-Medium';
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-family: 'Avenir-Heavy';
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-family: 'Avenir-Heavy';
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-family: 'Avenir-Heavy';
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-family: 'Avenir-Heavy';
  font-size: 14px;
  line-height: 18px
}

h6 {
  font-family: 'Avenir-Heavy';
  font-size: 12px;
  line-height: 16px;
}

p1 {
  font-family: "Avenir-Book";
  font-size: 24px;
  line-height: 32px;
}

p2 {
  font-family: "Avenir-Book";
  font-size: 18px;
  line-height: 24px;
}

p3 {
  font-family: "Avenir-Book";
  font-size: 16px;
  line-height: 20px;
}

p4 {
  font-family: "Avenir-Book";
  font-size: 14px;
  line-height: 18px;
}

p5 {
  font-family: "Avenir-Book";
  font-size: 12px;
  line-height: 16px;
}

.AboutContainer{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-right: auto;
  margin-left: auto;
}
.AboutContainer > div{
  margin-top: 60px;
  width: 636px;
  height: 521px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-categories {
  display: flex;
  justify-content: center;
}

.menu-category {
  margin: 0 30px;
  opacity: 50%;
  cursor: pointer;
}

.menuitem {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 70px;
  text-align: left;
  margin: 10px 0;
}

.menuitem-title-and-price{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.menuitem-description {
  color: rgb(171, 171, 171);
}

.menu-section {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: repeat(3, 375px);
  align-items: center;
  max-width: 1300px;
}

.menu-section-title {
  width: 1141px;
  text-align: left;
  
}

.selected {
  border-bottom: 4px solid black;
  opacity: 100%;
}

.rightSide{
  width: 444px;
  height: 252px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 40px;
  text-align: justify;
 }
 .hours{
   margin-top: 59px;
 }
 .border{
  border-top: 1px solid darkgray;
 }
 .imgClass2{
  width: 636px;
  height: 400px;
 }
.contactContainer{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-right: auto;
  margin-left: auto;
}
.contactContainer > div{
  margin-top: 60px;
  margin-bottom: 61px;
  width: 636px;
  height: 521px;
}
.contactLeft{
  width: 347px;
  height: 120px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 36px;
  margin-right: 137px;
  text-align: justify;
 }
 .Plocation{
   height:60px;
   width:149px;
   line-height: 20px;
   letter-spacing: 0px;
   text-align: left
 }
 .PHour{
  height:120px;
  width:347px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left
 }
 .hoursSet{
   margin-top: 41px;
   margin-bottom: 41px;
 }
.imgClass{
  width: 636px;
  height: 400px;
}
.ResButton{
  background-color: #750131;
  width: 249px;
  height: 48px;
  text-align: center;
  padding: 14px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Avenir-Heavy";
  color: white;
  border: 0;
}

.ResButton:hover {
  cursor: pointer;
}

header .ResButton {
  width: 100%;
  margin: 0;
}

#header-button {
  width: 100%;
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 5;
} 

.header-nav {
  z-index: 6;
}

a{
  color: white;
  text-decoration: none;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  position: fixed;
  width: 100%;
  margin: 0;
}

.carousel {
  width: 100%;
  margin-bottom: -5px;
  margin-top: -5px;
  padding: 0;
}

.carousel img {
  width: 100%;
  margin: 0;
  height: 100%;
}

/* .carousel-wrapper {
  width:100vw;
  height: 95vh;
} */

footer {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: white;
  padding: 35px;
}

.copyright {
  margin-top: 36px;
}

.logo {
  width: 120px;
}

.header-logo {
  width: 285px;
}

.icon {
  background-color: white;
  width: 32px;
  height: 32px;
}

.mobile-pic {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 25px auto;
}

.mobile-pic img {
  width: 170px;
  margin-left: -25px;
}

@media screen and (max-width: 1140px) {
  .menu-section {
    grid-template-columns: repeat(2, 375px);
  }
  .menu-section-title {
    width: 758px;
  }
}

@media screen and (max-width: 815px) {
  .menu-section {
    grid-template-columns: repeat(1, 375px);
  }
  .menu-section-title {
    width: 375px;
  }
}