.App {
  text-align: center;
}
h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 18px
}

h6 {
  font-size: 12px;
  line-height: 16px;
}

p1 {
  font-size: 24px;
  line-height: 32px;
}

p2 {
  font-size: 18px;
  line-height: 24px;
}

p3 {
  font-size: 16px;
  line-height: 20px;
}

p4 {
  font-size: 14px;
  line-height: 18px;
}

p5 {
  font-size: 12px;
  line-height: 16px;
}

.aboutPosition{
display: flex;
margin-left: auto;
}
.rightSide{
  text-align: right;
  width: 444px;
  height: 252px;
}
.leftSide{
  justify-content: left;
}
.imgClass{
  width: 636px;
  height: 400px;
}
.ResButton{
 background-color: rgb(149, 0, 20);
  width: 249px;
  height: 48px;
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
}

footer {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: white;
  padding: 35px;
}

.copyright {
  margin-top: 36px;
}

.logo {
  width: 120px;
}

.header-logo {
  width: 285px;
}

.icon {
  background-color: white;
  width: 32px;
  height: 32px;
}